<h2>Show Component</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @component.name %>
  </li>

  <li>
    <strong>Endpoint:</strong>
    <%= @component.endpoint %>
  </li>

  <li>
    <strong>Status:</strong>
    <%= @component.status %>
  </li>

</ul>

<span><%= link "Edit", to: component_path(@conn, :edit, @component) %></span>
<span><%= link "Back", to: component_path(@conn, :index) %></span>
